<!DOCTYPE html>
<nav class="navbar bg-light py-4">
  <fa-icon class="doctor" [icon]="['fas','user-doctor']"></fa-icon>
  <h1 class="logo">Gugan Hospitals</h1>
  <div class="space3">
  <fa-icon class="phone"  [icon]="['fas','phone']"></fa-icon>

  </div>

</nav>







 <img src="./assets/images/hospital.jpg" width="100%" >




     
    
  
   
    
 
 
  
    
        
    
        <div class="row" style="margin: 70px;"> 
        
         
            
            <div class="card" style="width:250px ">
              <img class="card-img-top "  src="./assets/images/doctor1.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Dr.Gugan<p class="text-danger">Family Physicians</p> </h4>
         
                <a href="./gugan" class="btn btn-outline-success">Book Appoinment</a>
              </div>
            </div>
              <div class="card" style="width:250px ">
                <img class="card-img-top" src="./assets/images/doctor2.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Dr.Poonam<p class="text-danger">Neurologists</p></h4>
            
               
                  <a href="./dhoni" class="btn btn-outline-success">Book Appoinment</a>
                </div>
              </div>
            <div class="card" style="width:250px ">
              <img class="card-img-top" src="./assets/images/doctor3.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Dr.Mandhana<p class="text-danger">Ophthalmologists</p></h4>
           
                  
                <a href="./virat"    class="btn btn-outline-success">Book Appoinment</a>
              </div>
            </div>   <div class="card" style="width:250px ">
              <img class="card-img-top" src="./assets/images/doctor6.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Dr.Dhoni<p class="text-danger">Cardiologists</p>
                </h4>
           
                  
                <a href="./jadeja"    class="btn btn-outline-success">Book Appoinment</a>
              </div>
            </div>
            
          
                
            <a href="#"    class="btn btn-light btn-sm">More Doctors</a>
